#disclaimer.ui-widget
  .ui-state-highlight.ui-corner-all{ :style => "padding: 5px 10px" }
    %p
      %span.ui-icon.ui-icon-info{ :style => "float: left; margin-right: .3em;" }
      %strong Alert:
      Before carrying out any of the practical procedures demonstrated in these learning materials, check the service information for the specific vehicle or system that you are working on. The correct method may be different to any generic example shown.
