.h1
  %h1
    About CDX
.pagecontent
  %p
    %strong
      The purpose of CDX
  %blockquote
    %p
      CDX improves the speed and effectiveness of automotive education through its world-leading digital content, technical courseware, and software applications for students, instructors, institutions and enterprises.
    %p
      CDX is rapidly achieving its goal of becoming the preferred learning materials choice for automotive instructors and students worldwide.
    %p
      For more than 12 years, CDX have been setting the standard for interactive automotive education resources with its innovative approach to flexible delivery. Ease of use has always been the primary characteristic of all CDX products, and CDX continues to deliver the learning materials that students and instructors prefer to use.
  %p
    %strong
      The 'power of visual learning'  materials development philosophy of CDX
  %blockquote
    %p
      Automotive technical qualifications require the development of cognitive and practical skills.
    %p
      The most effective learning modes for most students developing technical understanding and psychomotor skills are concrete and visual, rather than abstract and descriptive.
    %p
      The primary delivery mode for new CDX content therefore is overwhelmingly audio-visual - using video, animations, graphics, and simulations.  However, CDX learning materials are all supported with extensive reference and transcriptive text materials.
    %p
      The comparative achievements of students who learn with CDX have been well documented, and they speak for themselves.
  %p
    %strong
      The rapidly expanding  resources of CDX
  %blockquote
    %p
      CDX has the largest library of the highest quality interactive automotive training products on the world market today. More than $7m has been invested in product development, and CDX now has more than 2,000 educational institution clients in 55 different countries around the world.
    %p
      The speed and quantity of new CDX materials development is accelerating.  In early 2007, CDX added more new content to the latest release of its key products than in the previous five years put together.  For the next 12 months, CDX has again increased its commitment and investment in even more new materials.
    %p
      CDX has never been restricted to any particular delivery platform or player technology.  CDX Plus programs are currently accessible through standalone PCs, across LAN networks, and over the web.
