defaults: &defaults
  time_zone: Brisbane

  moodle:
    instances_root_directory: /data/opt/deploy/cdx-online/moodle
    database:
      hostname: cashmere.jbpub.com
      username: moodle
      password: RX9Q6972dKj4QRSF

  netsuite:
    soap:
      email:    mxenterprise@cdxglobal.com
      password: webservices1
      account:  879296

  session:
      timeout: <%= 1.hour %>

  time_zone: Brisbane

development:
  <<: *defaults

test:
  <<: *defaults

# Staging Environment
staging: &staging
  <<: *defaults

production:
  <<: *defaults


